{{>layout/header}}
<!-- cont_wrap !-->
<div class="cont_wrap">
    <!-- cont_width !-->
    <div class="cont_width">
        <div class="breadcrumb_wrap">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">Men</li>
                    <li class="breadcrumb-item" aria-current="page">운동화</li>
                    <li class="breadcrumb-item" aria-current="page">Nike</li>
                </ol>
            </nav>
        </div>
        <div class="contents_inner">
            <div class="product_detail_box clfix">
                <div class="detail_box_left">
                    <div class="detail_img_wrap">
                        <img src="/img/nike/nike1.png">
                    </div>
                </div>
                <div class="detail_box_right">
                    <div class="detail_box_header">
                        <div class="price_wrap clfix">
                            <div class="float_left">
                                <span class="prod_subtitle">운동화</span>
                            </div>
                            <div class="float_right">
                                <span class="price"><strong>189,000 원</strong></span>
                            </div>
                        </div>
                        <h1 class="title_wrap">
                            <span class="tit">나이키 줌X 스트릭플라이</span>
                        </h1>
                    </div>
                    <div class="size_wrap">
                        <form>
                            <div class="size_tit">
                                <strong class="tit">사이즈 선택</strong>
                            </div>
                            <div class="size_option_group">
                                <div class=" btn-group-lg" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                    <label class="btn btn-outline-dark" for="btnradio1">250</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio2">255</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio3">260</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio4">265</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio5">270</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio6">275</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio7">280</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio8">285</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio9">290</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio10">295</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio11">300</label>
                                </div>
                            </div>
                            <div class="btn_group">
                                <div class="d-grid gap-2 btn">
                                    <a class="btn btn-dark">재고 조회</a>
                                    <a class="btn btn-primary">온라인 구매</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- size_wrap !-->
                </div>
                <!-- detail_box_right !-->
            </div>
            <!-- product_detail_box !-->

            <!-- inven_store_list_box !-->
            <div class="inven_store_list_box">

            </div>
            <!-- inven_store_list_box !-->
        </div>
        <!-- cont_inner !-->
    </div>
    <!-- cont_width !-->
</div>
<!-- cont_wrap !-->
{{>layout/footer}}