{{>layout/header}}
<div class="main-container">
    <div class="main-wrap">
        <header>

            <div class="logo-wrap">
                <span>SHUZ</span>
            </div>
        </header>
        <section class="login-input-section-wrap">
            <div class="login-input-wrap">
                <input placeholder="아이디" type="text">
            </div>
            <div class="login-input-wrap password-wrap">
                <input placeholder="비밀번호" type="password">
            </div>
            <div class="login-button-wrap">
                <button>로그인</button>
            </div>
            <p class="forget-msg">비밀번호 찾기 | 회원가입</p>
        </section>
    </div>
</div>
<!-- cont_wrap !-->

{{>layout/footer}}