{{>layout/header}}
<!-- cont_wrap !-->
<div class="cont_wrap">
    <!-- cont_width !-->
    <div class="cont_width">
        <div class="contents_inner">
            <div class="history-back" style="margin-bottom:20px;">
                <a href="#" onClick="history.back();"><img src="/img/icon/back.png" style="width:30px;"></a>
            </div>
            <div class="product_detail_box clfix">
                <div class="detail_box_left">
                    <div class="detail_img_wrap">
                        <img src="/img/{{shuz.brandType}}/{{shuz.shoesImg}}">
                    </div>
                </div>
                <div class="detail_box_right">
                    <div class="detail_box_header">
                        <div class="price_wrap clfix">
                            <div class="float_left">
                                <span class="prod_subtitle"><strong>{{head}}</strong></span>
                            </div>
                            <div class="float_right">
                                <span class="price"><strong>{{shuz.shoesPrice}} 원</strong></span>
                            </div>
                        </div>
                        <h1 class="title_wrap">
                            <span class="tit">{{shuz.shoesName}}</span>
                        </h1>
                    </div>
                    <div class="size_wrap">
                        <form>
                            <div class="size_tit">
                                <strong class="tit">사이즈 선택</strong>
                            </div>
                            <div class="size_option_group">
                                <div class=" btn-group-lg" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" value="250" name="sizeRadio" id="btnradio1" autocomplete="off" checked>
                                    <label class="btn btn-outline-dark" for="btnradio1">250</label>

                                    <input type="radio" class="btn-check" value="255" name="sizeRadio" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio2">255</label>

                                    <input type="radio" class="btn-check" value="260" name="sizeRadio" id="btnradio3" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio3">260</label>

                                    <input type="radio" class="btn-check" value="265" name="sizeRadio" id="btnradio4" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio4">265</label>

                                    <input type="radio" class="btn-check" value="270" name="sizeRadio" id="btnradio5" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio5">270</label>

                                    <input type="radio" class="btn-check"  value="275" name="sizeRadio" id="btnradio6" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio6">275</label>

                                    <input type="radio" class="btn-check" value="280" name="sizeRadio" id="btnradio7" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio7">280</label>

                                    <input type="radio" class="btn-check" value="285" name="sizeRadio" id="btnradio8" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio8">285</label>

                                    <input type="radio" class="btn-check" value="290" name="sizeRadio" id="btnradio9" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio9">290</label>

                                    <input type="radio" class="btn-check" value="295" name="sizeRadio" id="btnradio10" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio10">295</label>

                                    <input type="radio" class="btn-check" value="300" name="sizeRadio" id="btnradio11" autocomplete="off">
                                    <label class="btn btn-outline-dark" for="btnradio11">300</label>
                                </div>
                                <input type="hidden" class="shoesNo" value="{{shuz.shoesNo}}">
                            </div>
                            <div class="btn_group">
                                <div class="d-grid gap-2 btn">
                                    <button type="button" class="btn btn-dark btn-invenCheck"
                                            data-bs-toggle="modal" data-bs-target="#invenModal">재고 조회</button>
                                    <a class="btn btn-primary">온라인 구매</a>
                                </div>
                            </div>
                        </form>
                        <!-- Modal -->
                        <div class="modal fade" id="invenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold;">재고 조회</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="product-wrap">
                                            <h3 class="name">{{shuz.shoesName}}</h3>
                                            <h3 class="size">270</h3>
                                            <div class="color-image-wrap" style="position:relative; height:180px;">
                                                <div class="img-type-box">
                                                    <span class="img-type">
                                                        <img src="/img/{{shuz.brandType}}/{{shuz.shoesImg}}">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="store-wrap">
                                        <div id="storeInvenSearch" class="inven-search" style="display:block;">
                                            <div class="scroll-box">
                                                <div class="store-list">
                                                    <div class="shipping-header">
                                                        <span class="store-name">매장명</span>
                                                        <span class="prd-cnt">수량</span>
                                                    </div>
                                                    <div class="shipping-body">
                                                        <div class="shipping-list">
                                                            <div class="column column-addr">
                                                                <h2 class="tit">아디다스 강남브랜드센터</h2>
                                                                <dl class="address-wrap">
                                                                    <dt class="addr-type">도로명</dt>
                                                                    <dd class="addr">서울 강남구 강남대로 470 1~4층</dd>
                                                                    <dt class="addr-type">연락처</dt>
                                                                    <dd class="addr" style="color:#288756;">02-2052-1366</dd>
                                                                </dl>
                                                            </div>
                                                            <div class="column column-reserve">
                                                                <span class="quantity">12</span>
                                                            </div>
                                                        </div>
                                                        <div class="shipping-list">
                                                            <div class="column column-addr">
                                                                <h2 class="tit">아디다스 홍대브랜드센터</h2>
                                                                <dl class="address-wrap">
                                                                    <dt class="addr-type">도로명</dt>
                                                                    <dd class="addr">서울 마포구 양화로 148 스칼렛빌딩 1~3층</dd>
                                                                    <dt class="addr-type">연락처</dt>
                                                                    <dd class="addr" style="color:#288756;">02-338-8684</dd>
                                                                </dl>
                                                            </div>
                                                            <div class="column column-reserve">
                                                                <span class="quantity">5</span>
                                                            </div>
                                                        </div>
                                                        <div class="shipping-list">
                                                            <div class="column column-addr">
                                                                <h2 class="tit">아디다스 노원점</h2>
                                                                <dl class="address-wrap">
                                                                    <dt class="addr-type">도로명</dt>
                                                                    <dd class="addr">서울 노원구 노해로81길 12-4 화랑상가</dd>
                                                                    <dt class="addr-type">연락처</dt>
                                                                    <dd class="addr" style="color:#288756;">02-936-9650</dd>
                                                                </dl>
                                                            </div>
                                                            <div class="column column-reserve">
                                                                <span class="quantity">3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- size_wrap !-->
                </div>
                <!-- detail_box_right !-->
            </div>
            <!-- product_detail_box !-->
        </div>
        <!-- cont_inner !-->
    </div>
    <!-- cont_width !-->
</div>
<!-- cont_wrap !-->
{{>layout/footer}}