{{>layout/header}}
<!-- cont_wrap !-->
<div class="cont_wrap">
    <!-- category_wrap !-->
    <div class="category_wrap">
        <div class="category_header">
            <span class="title">CATEGORY</span>
        </div>
        <!-- 브랜드별 카테코리 영역-->
        <div class="category_contents">
            <div class="category_list_wrap">
                <ul class="category_list" style="padding: 0; margin: 0;">
                    <li class="category_items"><a class="brandItems" href="" style="display:block;">Nike</a></li>
                    <li class="category_items"><a class="brandItems" href="" style="display:block;">Adidas</a></li>
                    <li class="category_items"><a class="brandItems" href="" style="display:block;">Vans</a></li>
                    <li class="category_items"><a class="brandItems" href="" style="display:block;">Converse</a></li>
                    <li class="category_items"><a class="brandItems" href="" style="display:block;">New Balance</a></li>
                </ul>
            </div>
            <input type="hidden" name="path" value="">
        </div>
        <!-- category_wrap !-->
    </div>

    <!-- cont_width !-->
    <div class="cont_width">
        <div class="page_title_wrap">
            <h2 class="text_head">{{head}}</h2>
        </div>
        <div class="contents_inner">
            <div class="col_list_wrap">
                <ul class="col_list" style="padding: 0;">
                    {{#shuz}}
                    <li class="col_list_item" style="min-height: 350px;">
                        <div class="prod_item_inner">
                            <a class="prod_link" href="/product/{{shoesNo}}">
                                <div class="img_wrap">
                                    <img src="/img/{{brandType}}/{{shoesImg}}">
                                </div>
                                <div class="prod_info_wrap">

                                    <span class="prod_brand">{{brandType}}</span>
                                    <span class="prod_name">{{shoesName}}</span>
                                    <span class="prod_price">
                                                <span class="price_cost">{{shoesPrice}}</span>
                                                <span class="price_unit">원</span>
                                            </span>
                                </div>
                            </a>
                        </div>
                    </li>
                    {{/shuz}}
                </ul>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?page={{previous}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{next}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- cont_width !-->




</div>
<script>
  //브랜드 카테고리 클릭이벤트
  $('.brandItems').click( function(e) {
    e.preventDefault();
    var brandItems = $(this).text();
    var pathname = $(location).attr('pathname'); //현재 url pathname 담기
    var spt = pathname.split("/"); // '/'기준으로 spt 배열에 담기
    console.log(spt[0]);
    console.log(spt[3]);
    console.log(spt.length);
    if(spt.length>4){ // spt배열 길이가 4보다 클 때 = url에 brandType이 있을 때
            pathname = "";
        for(var i = 1;i < spt.length-1; i++) { //for문으로 brandType 전까지 담기

            pathname = pathname +"/"+ spt[i];
        }
        console.log('pathname='+pathname);
    }

    var href = pathname+'/'+brandItems; // brand 파라미터 가져와서 담기
    console.log(href);
    window.location.href = href; //다시 이벤트 실행

  });

</script>
<!-- cont_wrap !-->
{{>layout/footer}}