{{>layout/header}}
<!-- cont_wrap !-->
<div class="cont_wrap">
    <!-- cont_width !-->
    <div class="cont_width">
        <div class="page_title_wrap" style="padding-bottom:10px;">
            <h2 class="title">
                <span style="font-size:26px;font-weight:bold;">위시리스트</span>
                <strong style="font-size:22px;font-weight:normal;">({{count}})</strong>
            </h2>
        </div>
        <div class="contents_inner">
            <div class="col_list_wrap">
                <ul class="col_list" style="padding: 0;">
                    {{^wishList}}
                        <div style="height:500px;">
                            <h2 style="font-weight: bold;">위시리스트에 추가한 상품이 없습니다.</h2>
                        </div>
                    {{/wishList}}
                    {{#wishList}}
                        <li class="col_list_item" style="min-height: 350px;">
                            <div class="prod_item_inner">
                                <a class="prod_link" href="/product/{{shoesNo}}">
                                    <div class="img_wrap">
                                        <img src="/img/{{brandType}}/{{shoesImg}}">
                                    </div>
                                    <div class="prod_info_wrap" style="padding:15px 0px 0px 10px;">
                                        <span class="prod_brand">{{brandType}}</span>
                                        <span class="prod_name">{{shoesName}}</span>
                                        <span class="prod_price">
                                                <span class="price_cost">{{shoesPrice}}</span>
                                                <span class="price_unit">원</span>
                                        </span>
                                            <a style="position: relative;left: 130px;bottom: 4px;display: inline-block;">
                                                <img class="wishDel" data-no="{{wishNo}}" src="/img/icon/delete.png" style="width: 25px;">
                                            </a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {{/wishList}}
                </ul>
            </div>
        </div>
        <!-- contents_inner !-->
    </div>
    <!-- cont_width !-->
</div>
<!-- cont_wrap !-->
{{>layout/footer}}